body{
    display: grid;
    grid-template-columns: 1fr 5fr;
}
header{
    background-color:blue;
    padding-left:5%;
}
main{
    background-color: aquamarine;
    padding-left:10%;
    max-width:70%;
    margin-left:5%;
}
