<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignmnet 2</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h2>ribbit~</h2>
        <h3>Main</h3>
        <h3>Categories</h3>
        <h4>Sub category 1</h4>
        <h4>Sub category 2</h4>
        <h4>Sub category 3</h4>
        <h3>Add post</h3>
        <h3>Profile</h3>
    </header>
    <main>
        <h1>Feed</h1>
        <h2>boop boop</h2>
    </main>
</body>
</html>