<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make a Post</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <main class="light">
        <nav>
            <div class="navbarContent">
                <h1>Ribbit</h1>
                <a href="{{ url_for('home') }}">Home</a>
                <div class="dropdown">
                    <button onclick="dropFunction()" class="dropbtn">Categories/</button>
                    <div id="myDropdown" class="dropdown-content">
                        <a href="{{ url_for('category1') }}">c/1</a>
                        <a href="{{ url_for('category2') }}">c/2</a>
                        <a href="{{ url_for('category3') }}">c/3</a>
                    </div>
                </div>
                <a href="{{ url_for('make_post') }}">Make Post</a>
                <a href="{{ url_for('profile') }}">Profile</a>
                <a href="{{ url_for('login') }}">Logout</a>
            </div>
        </nav>
        <div class="content">
            <div class="form-createPost">
                <h2>Make a Post!</h2>
                <form id="createPost" method="post">
                    <label for="field1">Title:</label>
                    <input type="text" name="field1" required/>
                    <label for="field2">Text:</label>
                    <input type="text" name="field2" maxlength="250" required/>
                    <input type="submit" name="submit" value="Post to:"/>
                </form>
            </div>
        </div>
    </main>
    <script src="{{ url_for('static', filename='dropdownScript.js') }}"></script>
    <script src="{{ url_for('static', filename='starBg.js') }}"></script>
</body>
</html>