{% extends "base.html" %}

{% block title %}{{ category.name }}{% endblock %}

{% block header %}{{ category.name }}{% endblock %}

{% block content %}
    <p>{{ category.description }}</p>
    <div id="posts">
        {% for post in posts %}
            <div class="post">
                <p>{{ post.text }}</p>
                <p><small>Posted by User ID: {{ post.user_id }} on {{ post.date }}</small></p>
                <p>Likes: {{ post.likes }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
